<a href="https://colab.research.google.com/github/Adilmabbrito/Adilmabbrito/blob/main/Aprendendo_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Faça um programa que leia um ângulo qualquer e mostre na tela o valor do seno, cosseno e tangente desse ângulo;

In [ ]:
import math
ângulo = float(input('digite o ângulo que você deseja: '))
seno = math.sin(math.radians(ângulo))
print('O ângulo de {} tem o seno de {:.2f}'.format(ângulo, seno))  ## dentro das chaves colocar :.2f para 2 casas decimais após a vírgula.
cosseno = math.cos(math.radians(ângulo))
print('O ângulo de {} tem o cosseno de {:.2f}'.format(ângulo, cosseno))
tangente = math.tan(math.radians(ângulo))
print('O ângulo {} tem a tangente de {:.2f}'.format(ângulo, tangente))

digite o ângulo que você deseja: 30
O ângulo de 30.0 tem o seno de 0.50
O ângulo de 30.0 tem o cosseno de 0.87
O ângulo 30.0 tem a tangente de 0.58

Um professor quer sortear um dos seus quatro alunos para apagar o quadro. Faça um programa que ajude ele, lendo o nome deles e escrevendo o nome do escolhido.

In [ ]:
import random  ##random faz um sorteio aleatório

n1 = str(input("Primeiro aluno: "))
n2 = str(input("Segundo aluno: "))
n3 = str(input("Terceiro aluno: "))
n4 = str(input("Quarto aluno: "))

lista = [n1, n2, n3, n4]

escolhido = random.choice(lista)
print('O aluno escolhido foi {}'.format(escolhido))

Primeiro aluno: Ana
Segundo aluno: Maria
Terceiro aluno: José
Quarto aluno: Paulo
O aluno escolhido foi José

O mesmo professor do desafio anterior quer sortear a ordem de apresentação de trabalhos dos alunos. Faça um programa que leia o nome dos quatro alunos e mostre a ordem sorteada.

In [ ]:
import random

n1 = str(input('Primeiro aluno: '))
n2 = str(input('Segundo aluno: '))
n3 = str(input('Terceiro aluno: '))
n4 = str(input('Quarto aluno: '))

lista = [n1, n2, n3, n4]

random.shuffle(lista)   ##shuffle serve para embaralhar

print('A ordem de apresentação será')
print(lista)

Primeiro aluno: ana
Segundo aluno: josé
Terceiro aluno: maria
Quarto aluno: pedro
A ordem de apresentação será
['pedro', 'ana', 'maria', 'josé']

Manipulando cadeias de texto

**Fatiamento**
 

 len(frase)  ##mostra o tamanho da frase ( quantos caracteres)

 frase.count('o') ## mostra quantas vezes temos a letra 'o'

 frase.count('o', 0, 13)  ##mostra quantas vezes temos a letra 'o' da posição zero até a posição treze.

 frase.find('deo')  ##mostra onde começou o 'deo' na frase ( posição)

 'Curso' in frase ##vai mostrar Verdadeiro ou Falso.

** Transformação**

frase.replace('Python', 'android') ## vai substituir a palavra "python" por "android"

frase.upper() ##coloca as letras minúsculas em maiúsculas

frase.lower() ##coloca as letras maiúsculas em minúsculas

frase.capitalize() ##Joga tudo pra minúsculo e apenas a primeira letra em maiúsculo

frase.title() ##coloca apenas as primeiras letras de todas as palavras em maiúculas

frase.strip() ## remove espaços vazios no inicio e final da frase(espaços inúteis)

frase.rstrip() ##remove apenas os espaços vazios da direita.

frase.lstrip() ## remove epenas os espaços vazios da esquerda.

### **Praticando:**

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[3])

s

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[3:13])

so em víde

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[:13])

Curso em víde

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[13:])

o Python

In [ ]:
frase = 'Curso em vídeo Python'
print(frase[1:15:2])  ## do 1 ao 15 pulando de 2 em 2

us mvdo

In [ ]:
frase = 'Curso em vídeo Python'
print(frase.count('o'))  ##conta quantas vezes tem a letra 'o'

3

In [ ]:
frase = 'Curso em vídeo Python'
print(len(frase))  ##conta quantos caracteres

21

In [ ]:
frase = 'Curso em vídeo Python'
print(frase.replace('Python','android'))  ##troca as palavras

Curso em vídeo android

In [ ]:
frase = 'Curso em vídeo Python'
print('Curso' in frase)

True

In [ ]:
frase = 'Curso em vídeo Python'
print(frase.split())   ##divide a frase e forma uma lista

['Curso', 'em', 'vídeo', 'Python']

In [ ]:
frase = 'Curso em vídeo Python'
dividido = frase.split()
print(dividido[2][3])   ## divide a frase, pega o segundo elemento e mostra a posição 3

e

Desafios:

1- Crie um programa que leia o nome completo de uma pessoa e mostre:

-> O nome com todas as letras maiúsculas

-> O nome com todas as letras minúsculas

-> Quantas letras ao todo ( sem considerar espaços)

-> Quantas letras tem o primeiro nome

In [ ]:
nome = str(input('Qual o seu nome? '))
print('Analisando seu nome...')
print('Seu nome em maiúsculas é {}'.format(nome.upper()))
print('Seu nome em minúsculas é {}'.format(nome.lower()))
print('Seu nome tem ao todo {} letras'.format(len(nome) - nome.count(' ')))

separa = nome.split()
print('Seu primeiro nome é {} e ele tem {} letras'.format(separa[0], len(separa[0])))

Qual o seu nome? adilma brito
Analisando seu nome...
Seu nome em maiúsculas é ADILMA BRITO
Seu nome em minúsculas é adilma brito
Seu nome tem ao todo 11 letras
Seu primeiro nome é adilma e ele tem 6 letras

Faça um programa que leia um número de 0 a  9999 e nostre na tela cada um dos dígitos separados

In [5]:
num = int(input("Digite um número: "))
u = num // 1 % 10
d = num // 10 % 10
c = num //100 % 10
m = num // 1000 % 10
print('Analisando o número {}'.format(num))
print('Unidade: {}'.format(u))
print('Dezena: {}'.format(d))
print('Centena: {}'.format(c))
print('Milhar: {}'.format(m))

Digite um número: 1254
Analisando o número 1254
Unidade: 4
Dezena: 5
Centena: 2
Milhar: 1

Crie um programa que leia o nome de uma cidade e diga se ela começa ou não com o nome "SANTO"

In [12]:
cid = str(input( 'Em que cidade você nasceu? ')).strip()         #elimina os espaços
print(cid [:5].upper() == 'SANTO')                               #deixa tudo maiúscula

Em que cidade você nasceu? santo anjo
True

Crie um programa que leia o nome e verifique se há a palavra "SILVA".